
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
h2{
color: #46484c;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
color: #fff;
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: #fffbf7;
}
button{
    background-color: #025157;
   
}
.encabezado{
    text-align: center;
    color:#8b8b8bcc;
text-align: center;
font-size: 40px;

  
}

.container{
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px 20px 0 20px;
    font-size: 0;
    font-family: sans-serif;
}

.container .btn1{
    background-color: #67b54b;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    color: white;
   
}
.parrafo1{
    text-align: center;    
}
.etiquetah4{
    text-align: center;   
}
.banner-1{
    display: block;
    margin: auto;
}
.btnform{
    outline: none;
    border: none;
    
    /* padding-bottom: 12px; */
    padding: 14px 14px 12px 12px;
    cursor: pointer;
    color: white;
    margin: 1% 1% 1% 0%;
    
}
.container .menu li{
    display: inline;
    padding: 1% 1% 1% 0% ;
}
.container >*{
    display: inline-block;
    font-size: 18px;
}
.logo{
    width: 150%;
}

.logo img{
    height: 100%;
}
.menu{
    width: 70%;
    text-align: center;
    /* text-align: left; */
    color: #025157;
    font-weight: 500; 
    font-size: 14px;
    
    
}
.actions{
    width: 15%;
    text-align: right;
    text-align: left;
    font-size: 14px;
    font-weight: 600; 
    
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}
.containerpublish .titlepblsh{
    font-family: 'Alegreya', serif;
    color: #025157;
    font-size: 40px;
    line-height: 48px;
}
.containerpublish .paraphpblsh{
    font-family: sans-serif;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 1% 1% 1% 1%;

}
.containerpublish{
    position: relative;
   
}
.containerpublish > form p{
    color: #025157;
    margin-right: 18px;
    
}
 .btnsmt {
    outline: none;
    border: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    
}
.promo{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
}
.Plchdlrentmail{
   padding-top: 12px; 
   padding-bottom: 12px;
}
.divvidcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divvidcontainer .imagevideo{

    width: 90px;
    margin-top: 10px;
}


  .features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }
  .features2{
    display: grid;
    width: 100%;
    align-items: stretch;
      background-color: #cea573;
      text-align: center;
      padding: 5% 10%;
      align-items: center;
      height: auto;
     /* grid-template-columns:repeat(4, 330px) ; */
    
    
  }
 
 .features2 .steps {
    display: grid;
    width: 900px
    box-sizing: border-box;
    

    
  grid-template-columns: repeat(4, .2fr);
  background-color: #fff;
  /* border: 1px solid #dadada; */
  
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* text-align: center; */
  /* overflow: hidden; */

   
 
 }
 .steps .features2-cards{
    padding: 30px 20px 40px 40px;
    flex: 4;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(155, 89, 89)129, 48, 48)129, 48, 48);
   overflow: hidden;



 }
 .features2 .divbtn {
    align-items: center;
 }
 .features2 .buttonsection{
    /* background-color: #67b54b;
    width: 300px;

    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    color: white; */
    
    width: 300px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px 12px 6px 12px;
    height: 45px;
    margin-left: 0;
    border-radius: 8px;
    margin-top: 6px;
 }
 .Steps .features2-cards{
    position: relative;
    height: 350px;
 }